---
# The variables file used by the playbooks in the development host.
# These don't have to be explicitly imported by vars_files: they are autopopulated.

server_name: example.com
root: /var/www

nginx_version: v1.5.7